div
{
	border:3px solid blue;
	border-radius:20px;
	margin:2% 30% 2% 30%;
	font-size:large;
	padding:5%;
	padding-left:10%;
	background-color:rgb(180,180,180);
	word-wrap:break-word;
}
h1
{
	text-align:center;
	margin-top:5%;
}
#number
{
	width:30%;
	text-align:center;
}
